# 01. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [8]:
# Importing Data

#df = pd.read_csv(r'C:\JUPYTER\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)


#df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), nrows=1000)

#df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [5]:
path = r'C:\JUPYTER\Instacart Basket Analysis'

In [6]:
path

'C:\\JUPYTER\\Instacart Basket Analysis'

In [9]:
#df.head(30)

#df.tail(10)

#df.shape

#df.info()

#df.dtypes

#df.columns

#df.describe()

df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [20]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']